{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h3> Halaman Pemerintahan</h2>
    <div id="#selayangPandang" class="container">
        <h4>Selayang Pandang</h4>
    </div>
    <div id="#strukturPemerintahan" class="container">
        <h4>Struktur Pemerintahan</h4>
    </div>
    <div id="#visiMisi" class="container">
        <h4>Visi dan Misi</h4>
    </div>
    <div id="#piagamPenghargaan" class="container">
        <h4>Piagam dan Penghargaan</h4>
    </div>
{% endblock %}