{% extends 'base.html' %}

{% block title %}Statistik Desa{% endblock %}

{% block content %}
    <h1>Halaman Statistik Desa </h1>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row gap-3 justify-content-center">
                <div class="col-md-3 bg-danger">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Penduduk</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-primary">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Kelompok Umur</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-warning">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Berdasarkan Pendidikan</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-success">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Berdasarkan Pekerjaan</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-secondary">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Status Perkawinan</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-primary">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Berdasarkan Agama</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-danger">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Jenis Kelamin</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-primary">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Warga Negara</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-success">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Status Penduduk</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-warning">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Golongan Darah</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-danger">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Sakit Menahun</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-warning">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Akseptor K</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-secondary">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Kepemilikan Akta Kelahiran</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-success">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Berdasarkan SHDK</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-primary">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Data Calon Pemilih</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-warning">
                    <div class="card bg-transparent border-0">
                        <div class="card-body">
                            <h5 class="card-title">Data Status Covid-19</h5>
                            <h6 class="card-subtitle text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}